.home-container {
  display: flex;
  justify-content: center;
  height: 90%;
  padding: 20px;
}

.city-container {
  position: relative;
  height: 90%;
  padding: 20px;
}

.city {
  margin: 30px;
  width: 800px;
  height: 150px;
  cursor: pointer;
}

.city-name {
  font-size: 20px;
  margin-bottom: 30px;
}

.city-temp {
  font-size: 50px;
  color: #8a8a8a;
}
