<div class="home-container">
  <div class="city-container">
    <div class="container" *ngFor="let city of cityList">
      <mat-card class="city" (click)="getCityDetails(city)">
        <div class="city-name">{{city.name}}</div>
        <div class="row">
          <div class="col-md-4">
            <span class="city-temp">{{city.main.temp}} °C</span>
          </div>
          <div class="col-md-8">
            Sunrise : <span class="city-time">{{city.sys.sunrise | date : 'shortTime'}}</span>
            Sunset : <span class="city-time">{{city.sys.sunset | date : 'shortTime'}}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
