.city-container {
  position: relative;
  height: 90%;
  padding: 20px;
}

.contents {
  display: flex;
  justify-content: center;
}

.city {
  margin: 30px;
  width: 800px;
  height: 70%;
}

.city-name {
  font-size: 30px;
  margin: 10px;
}

.header {
  font-size: 20px;
  margin: 10px;
}

.row {
  padding: 8px;
}

.row-header {
  border-bottom: 1px solid #c2c2c2;
}

.row-header div {
  font-size: 18px;
}
