<div class="city-container">
  <div class="city-name">{{name}}</div>
  <div class="contents">
    <mat-card class="city">
      <div class="header">5 day forecast at 9:00 AM</div>
      <div class="container">
        <div class="row row-header">
          <div class="col-md-2"> Day</div>
          <div class="col-md-4"> Temperature</div>
          <div class="col-md-6"> Sea Level</div>
        </div>
        <div class="row" *ngFor="let city of cityList">
          <div class="col-md-2"> {{city.day | date :'EEE, MMM d'}}</div>
          <div class="col-md-4"> {{city.main.temp}} °C</div>
          <div class="col-md-6"> {{city.main.sea_level}} hPa</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
